<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%# <%= form.collection_select :role, User.order(:id), User.roles.map{|k, v| k}, :role, include_blank: true%>
    <%= form.select :role, User.roles.map{|k,v| [k]}, {prompt: "Please select"}, class: "dropdown-item" %>
  </div>

    <br>
  <div>
    <%= form.button class: "btn btn-success" %>
  </div>
<% end %>
