
<div class="nested-fields">
    <div class="one_line field">
        <br>
        <%= f.text_field :name, class: "form-control", placeholder: "Question Name" %>
        <i class="bi bi-trash mx-2 field"></i>
    </div>

    <div class="field">
        <%= f.text_area :description, class: "form-control", placeholder: "Question Description" %>
    </div>

    <%= f.fields_for (:options) do |option| %>
      <%= render 'option_fields', f: option%>
    <% end %>
    <div class=" my-2">
        <%= link_to_add_association "Add Options", f, :options, class: 'btn btn-success bi bi-plus' %>
    </div>

    <div class="links">
        <%= link_to_remove_association "Remove Question", f, class: 'btn btn-danger bi bi-trash'%>
    </div>

    <br>
</div>