<p style="color: green"><%= notice %></p>

<div class="container">
  <%= link_to "Back to tests", tests_path, class: 'btn btn-primary'%>
  <%= link_to "Edit this test", edit_test_path(@test), class: 'btn btn-primary' %>
  <%= link_to "Destroy this test", @test, method: :delete, class: 'btn btn-danger' %>
</div>
<br>
<%= render @test %>
